.vs/
.vscode/
x86/
x64/
build/
[Bb]in/
[Oo]bj/
[Dd]ll/
[Dd]ebug*/
[Rr]elease*/
[Tt]est[Rr]esults/
_UpgradeReport_Files/
_ReSharper.*/
*.log
*.sdf
*.suo
*.pdb
*.VC.db
*.db
*.vcxproj.user
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
